.container {
    display: flex;
    justify-content: center;
}

.left-side-container {
    position: sticky;
    align-self: flex-start; 
    top: 0;
    margin-right: 40px;
    margin-left: 20px;
}
.center-container {
    position: relative;
    margin-right: 30px;
    max-width: 598px;
}

.top-nav {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--background-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    height: 53px;
    cursor: pointer;
}
.top-nav > div {
    padding: 15px;
    line-height: 1.3125;
    color: var(--primary-text-color);
    font-size: 19px;
    font-weight: 700;
}
.top-nav > fa-icon {
    margin-left: auto;
    margin-right: 15px;
    align-self: center;
    color: #1da1f2;
    font-size: 19px;
}

#right-side-container {
    position: sticky;
    top: 0;
    width: 388px;
    height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
}
#right-side-container::-webkit-scrollbar {width:0;}
@media (max-width: 460px) {
    .left-side-container,app-color-theme-toggle{display:none;}
    .center-container{margin: 0 10px;}
}
@media (max-width: 1000px) {
    .left-side-container {margin-left: 40px;}
}

@media (max-width: 1022px) {
    .left-side-container {margin-right: 30px;}
}

@media (max-width: 1095px) {
    #right-side-container {display: none;}
}
